/* OLDALSZERKEZET */

body {
  margin-top: 1em;
}

div {
    /*border: 1px dotted #888;*/
}

* {
    margin: 0;
    padding: 0;
}

.block, .node-form .standard, .profile  {
  clear: none;
}

.clear-block:after {
  clear: none;
}

/*
a {
  text-decoration: none;
  color: #002a7f;
  font-weight: bold;
}

a:hover {
  color: #e87300;
}

ul.primary-links {
  margin-left: 570px;
  padding: 45px 0;
}
*/
ul.primary-links li {
/*  display: inline;*/
}
/*
ul.primary-links li a {
  margin-top: 45px;
  padding-top: 45px;
  padding-bottom: 45px;
  vertical-align: center;
  _color: #fff;
}

ul.primary-links li.menu-1-1-2 a {
  background: url( ../kepek/fooldal_menuszoveg.png ) no-repeat center center;
  padding-right: 75px;
  margin-right: 30px;
}

ul.primary-links li.menu-1-1-2 a:hover, ul.primary-links li.menu-1-1-2-active {
  background: url( ../kepek/fooldal_menuszoveg_aktiv.png ) no-repeat center center;
  padding-right: 75px;
  margin-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}

ul.primary-links li.menu-1-2-2 a {
  background: url( ../kepek/munkaim_menuszoveg.png ) no-repeat center center;
  padding-right: 85px;
  margin-right: 30px;
}

ul.primary-links li.menu-1-2-2 a:hover, ul.primary-links li.menu-1-2-2-active {
  background: url( ../kepek/munkaim_menuszoveg_aktiv.png ) no-repeat center center;
  padding-right: 85px;
  margin-right: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
}

ul.primary-links li.menu-1-3-2 a {
  background: url( ../kepek/elerhetosegeim_menuszoveg.png ) no-repeat center center;
  padding-right: 140px;
  margin-right: 0;
}

ul.primary-links li.menu-1-3-2 a:hover, ul.primary-links li.menu-1-3-2-active {
  background: url( ../kepek/elerhetosegeim_menuszoveg_aktiv.png ) no-repeat center center;
  padding-right: 140px;
  margin-right: 0;
  padding-top: 45px;
  padding-bottom: 45px;
}
*/


div#tarolo {
  width: 927px;
  margin: 0 auto;
}

div#fejlec-felso {
    clear: both;
    width: 927px;
    height: 62px;
}

div#fejlec-kozepso {
    clear: both;
    width: 927px;
    height: 90px;
}

div#fejlec-also {
    clear: both;
    width: 927px;
    height: 56px;
}

div#oldalsav {
  width: 200px;
  float: left;
}

.expanded ul.menu {
    padding-left: 1em;
}


/*
div#oldalsav div#sidebar-left {
  margin-left: 20px;
  padding-left: 5px;
  float: left;
}

div#oldalsav div#sidebar-right {
  margin: 200px 0 0 290px;
}

div#oldalsav div.block {
  padding-top: 20px;
  border-top: 1px dotted #000;
}

div#oldalsav div.block:first-child {
  border-top: none;
  padding-top: 0;
}
*/
div#tartalom {
    margin-left: 251px;
    margin-right: 25px;
}

div#tartalom-forum {
    margin-left: 25px;
    margin-right: 25px;
}

div#lablec {
  clear: both;
  width: 927px;
  height: 106px;
}

div#tartalmi-resz div.content p {
    padding: 1.5em 0 0 0;
}
/*


div#tabs-wrapper h2, #tartalmi-resz h2 {
  margin: .5em 0 .2em 40px;
  font-size: 18pt;
  color: #4c4c4c;
}

div#tabs-wrapper ul.primary {
  text-align: center;
  background: url( ../kepek/elsodleges_tab_hatter.gif ) repeat-y center;
  padding: .8em 0;
  border-collapse:collapse;
  border: none;
  line-height:normal;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  white-space: normal;
}

div#tabs-wrapper ul.primary li {
  display: inline;
}

div#tabs-wrapper ul.primary li:last-child {
  padding-right: 0;
}

div#tabs-wrapper ul.primary li a {
  color: #6c6c6c;
  text-decoration: none;
  font-size: 14pt;
  border: none;
  background: none;
}

div#tabs-wrapper ul.primary li a.active {
  color: #000;
  border-bottom: 1px dotted #000;
  background: none;
}

ul.secondary {
  text-align: center;
  background: url( ../kepek/masodlagos_tab_hatter.gif ) repeat-y center;
  padding: .4em 0;
  border: none;
}

ul.secondary li {
  display: inline;
  border: none;
  padding: 0 2em 0 0;
}

ul.secondary li:last-child {
  padding-right: 0;
}

ul.secondary li a {
  color: #7b7b7b;
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
}

ul.secondary li a.active {
  color: #000;
  border-bottom: 1px dotted #000;
  padding: 0 .8em;
}

div#tabs-wrapper ul.primary li a:hover, ul.secondary li a:hover {
  color: #000;
  text-decoration: none;
}

div.node {
  margin-top: 2em;
}

div.node h2 {
  margin: 1em 0 40px 120px;
  font-size: 18pt;
  padding-top: 1em;
}

div.node h2 a {
  text-decoration: none;
  color: #002a7f;
}

div.node h2 a:hover {
  color: #4fc7ff;
}

div.submitted {
  width: 80px;
  height: 90px;
  border: 1px solid #d2d2d2;
  background: url( ../kepek/naptar_hatter.png ) no-repeat top center;
  float: left;
  margin: 0 30px;
  text-align: center;
}

div.submitted p {
  font-weight: bold;
}

div.submitted p.ev-ho {
  color: #0d67ac;
  font-size: 9pt;
  padding-top: 7px;
}

div.submitted p.nap {
  color: #006d00;
  font-size: 28pt;
}

div.submitted p.szerzo, div.submitted p.szerzo a {
  color: #898a8a;
  text-decoration: none;
  font-size: 8pt;
  padding-top: 3px;
}

div.submitted p.szerzo a:hover {
  color: #4c4c4c;
}

div#tartalmi-resz div.content {
  color: #717171;
}

div#tartalmi-resz div.content a {
  color: #3d95d9;
}

div#tartalmi-resz div.content a:hover {
  color: #e87300;
}

p.description {
  padding: 1em 0;
}

dt {
  padding: 1em 0 .5em 0;
}

.help {
  padding: 1em 0;
}

.messages {
  padding: 1em;
}

.terms {
  float: right;
}

.egyebek {
  height: 38px;
  background: url( ../kepek/meta_hatter_kozep.png ) repeat-x center;
}

.meta_hatter_bal {
  width: 44px;
  height: 38px;
  float: left;
  background: url( ../kepek/meta_hatter_bal.png ) no-repeat center;
}

.meta_hatter_jobb {
  width: 44px;
  height: 38px;
  float: right;
  background: url( ../kepek/meta_hatter_jobb.png ) no-repeat center;
}

tr.even, tr.odd {
  background-color: #fff;
  border-bottom: 1px solid #0A3981;
  padding: 0.1em 0.6em;
}

thead th {
  border-bottom: 2px solid #0A3981;
  padding-right: 3em;
  text-align: left;
}

td.active {
  background-color:#BFEEFF;
}

.egyebek ul.links li a {
  color: #fff;
  font-weight: bold;
  font-size: 100%;
  text-decoration: none;
}

.egyebek ul.links li a:hover {
  color: #8EF0FF;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.egyebek div.meta, div-links {
  padding-top: 10px;
}
*/

div#oldalsav, div#fejlec-kozepso {
  margin-left: 25px;
}

div#fejlec-also {
  margin-bottom: 20px;
}
