body {
  background-color: #ececec;
  font-size: 10pt;
  font-family: Verdana,Helvetica,Arial,sans-serif;
}

div#szlogen, .oldalsav {
  font-family: Helvetica,Arial,sans-serif;
}

.rejtett {
  display: none;
}

div#tarolo {
  background: url( ../kepek/oldal_hatter.png ) repeat-y;
}

div#fejlec img {
  float: left;
  margin: 0 2em 0 1em;
}

div#fejlec h1 {
  padding: 1em 0;
}

div#fejlec-felso {
  background: url( ../kepek/fejlec_felso_hatter.png ) no-repeat bottom left;
}

div#fejlec-felso ul li {
  font-size: 8pt;
  width: 138px;
  padding-top: 10px;
  margin: 0;
  height: 62px;
  float: right;
  text-align: center;
  background: url( ../kepek/ful_hatter.png ) no-repeat top left;
  line-height: 1em;
}

div#fejlec-felso ul li a {
  color: #999;
  text-decoration: none;
  font-weight: bold;
}

div#fejlec-felso ul li a:hover {
  color: #333;
  font-weight: bold;
}

div#fejlec-felso ul li a.active {
  color: #333;
}

div#fejlec-felso ul li:hover {
  background: url( ../kepek/ful_hatter_hover.png ) no-repeat top left;
}

div#fejlec-felso ul li:hover.active {
  background: url( ../kepek/ful_hatter_hover.png ) no-repeat top left;
  line-height: 2em;
}

div#fejlec-felso ul li.active {
  background: url( ../kepek/ful_hatter_aktiv.png ) no-repeat top left;
}

div#fejlec-felso ul li:first-child {
  padding-right: 12px;
  background: url( ../kepek/jobb_szelso_ful_hatter.png ) no-repeat top left;
  padding-top: 10px;
}

div#fejlec-felso ul li:first-child:hover {
  background: url( ../kepek/jobb_szelso_ful_hatter_hover.png ) no-repeat top left;
  line-height: 1em;
}

div#fejlec-felso ul li:first-child.active {
  background: url( ../kepek/jobb_szelso_ful_hatter_aktiv.png ) no-repeat top left;
}

div#fejlec-kozepso {
  padding-bottom: 1em;
}

div#fejlec-also {
  background: url( ../kepek/fejlec_elvalaszto_kep.png ) no-repeat top left;
}

div#oldalsav {
  font-size: 8pt;
  letter-spacing: .16em;
  color: #666;
}

div#oldalsav a {
  color: #747474;
  line-height: 1.5em;
  text-decoration: none;
}

div#oldalsav a:hover {
  color: #000;
  /*text-decoration: underline;*/
  border-bottom: 1px dotted #000;
}

div#oldalsav li a.active {
  font-weight: bold;
  color: #000;
}

div#tartalom, div#tartalom-forum {
  color: #666;
}

div#tartalom a, div#tartalom-forum a {
  color: #036;
  font-weight: bold;
  text-decoration: none;
}

div#tartalom a:hover, div#tartalom-forum a:hover {
  color: #000;
  border-bottom: 1px dotted #000;
}

div#tartalom p {
  margin: .5em 0 .7em 1em;
}

div#tartalom dd {
  margin-left: 1em;
}

div#lablec {
  background: url( ../kepek/lablec_hatter.png ) no-repeat top left;
  text-align: center;
  margin-top: 4em;
  
}

div#lablec a {
  color: #33a;
  font-weight: bold;
  font-size: 80%;
  text-decoration: none;
  border-bottom: 1px dotted #33a;
}

div#lablec a:hover {
  color: #22e;
  border-bottom: 1px dotted #22e;
}

div.breadcrumb a {
  color: #666;
}

div.breadcrumb * {
  font-size: 8pt;
  font-weight: bold;
  text-decoration: none;
  text-transform: lowercase;
}

div.breadcrumb a:last-child {
  color: #000;
}

div.breadcrumb a:hover {
  border-bottom: 1px dotted #000;
}

div#szlogen {
  float: right;
  width: 50%;
  font-size: 110%;
  font-style: italic;
  font-weight: bold;
  color: #666;
  margin: -1em 4em 0 0;
  text-align: center;
}

div#fejlec a {
  text-decoration: none;
  color: #666;
}



dt {
  margin: 1em 0 .4em 0;
}

form {
  padding: .5em;
}

.messages {
  text-align: center;
  /*font-size: 110%;*/
  padding: 1em 0;
  border: 1px solid #5a5;
  margin-top: 1em;
  background-color: #d6ffd8;
  font-weight: bold;
}

table#attachments tbody tr {
  background: url( ../kepek/famfamfam/attach.png ) left center no-repeat;
}

table#attachments tbody tr td:first-child {
  padding-left: 20px;
}