div#forum table {
  width: 100%;
  text-align: left;
}

div#forum table thead th {
  text-align: left;
}

div#forum table tr.even, div#forum table tr.odd {
  background-color: #fff;
}

div.cimkek {
  float: right;
  background: url( ../kepek/famfamfam/tag_green.png ) no-repeat left center;
  padding-left: 20px;
}

li.comment_add a {
  background: url( ../kepek/famfamfam/comment_add.png ) no-repeat left center;
  padding-left: 20px;
}

li.comment_delete a {
  background: url( ../kepek/famfamfam/comment_delete.png ) no-repeat left center;
  padding-left: 20px;
}

li.comment_edit a {
  background: url( ../kepek/famfamfam/comment_edit.png ) no-repeat left center;
  padding-left: 20px;
}

li.comment_reply a {
  background: url( ../kepek/famfamfam/comment_reply.png ) no-repeat left center;
  padding-left: 20px;
}

li.comment_comments a {
  background: url( ../kepek/famfamfam/comments.png ) no-repeat left center;
  padding-left: 20px;
}

li.node_read_more, li.comment_edit, li.comment_reply {
  margin-left: 40px;
}

li.node_read_more a {
  background: url( ../kepek/famfamfam/arrow_right.png ) no-repeat left center;
  padding-left: 20px;
}

li.upload_attachments a {
  background: url( ../kepek/famfamfam/attach.png ) no-repeat left center;
  padding-left: 20px;
}

span.submitted {
  font-size: 80%;
  float: right;
}

div.comment {
  padding: 15px;
}

div.content {
  padding: 0 0 1em 1em;
}

div.even {
  background-color: #fafafa;
}

div.odd {
  background-color: #eaffea;
}

div#tartalom p, div#tartalom-forum p {
  padding-bottom: 1em;
}

div#tartalom h1 {
  margin: 1.2em 0 0 0;
  font-size: 140%;
}

div#tartalom p:last-child, div#tartalom-forum p:last-child {
  padding-bottom: .2em;
}

div.tartalom {
  margin-left: 1em;
  padding: .4em;
  background-color: #eafaff;
}

div.forum-tartalom {
  padding: 15px;
  background-color: #eafaff;
}

div.node {
  margin-top: 2em;
}

p.datum {
  float: right;
  font-weight: bold;
}

div.meta {
  margin: .8em 0;
  padding-top: .4em;
  padding-bottom: .4em;
  /*
  border-top: 1px dotted #060;
  border-bottom: 1px dotted #060;
  */
}

tr.odd *, tr.even * {
  white-space: normal;
}

div#search {
  background: url( ../kepek/search.png ) no-repeat left center;
  margin: 0 auto;
}

div#search input.form-text {
  background: transparent;
  border: none;
  width: 137px;
  height: 22px;
  padding-left: .5em;
  padding-top: .4em;
  margin-right: 2em;
  color: #666;
}

div#search input#edit-submit {
  display: none;
}

#user-login-form * {
  margin: 0;
  text-align: left;
}

#user-login-form #edit-submit {
  margin-left: 2em;
}

#user-login-form div.item-list ul {
  margin: 0;
  padding: 0;
}

#user-login-form div.item-list li {
  list-style-type: none;
}

div.tartalom h3 {
  padding: 1em 0;
}

.node {
  clear: none;
}

#forum ul {
  list-style-type: none;
  text-align: center;
  margin: 1em 0;
}

#forum ul li a {
  font-weight: bold;
  color: #f00;
  border-bottom: 1px solid #f00;
}

#forum ul li a:hover {
  border-bottom: none;
}


div#taverna_ceger {
  width: 440px;
  height: 300px;
  background: url( ../kepek/fa_alapu_ceger.png ) top left no-repeat;
  position: absolute;
  top: 20%;
  left: 30%;
  display: none;
}

div#taverna_ceger div#szoveg {
  margin: 110px 30px 0 60px;
  font-size: 130%;
  color: #000;
}

div#taverna_ceger div#szoveg p.idezet {
  font-style: italic;
  font-size: 75%;
}

table {
  margin: 1em 0;
  width: 100%;
  font-size: 75%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #edf5fa;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color: #ddecf5;
}

tr.even td.active {
  background-color: #e6f1f7;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}